# deps
node_modules
.pnpm-store

# build
.next
.turbo
out
dist
build
*.tsbuildinfo

# env
.env
.env.local
.env.*.local
# The symlink below is created by workspace setup; don't commit the target path.
apps/*/.env.local

# editor / OS
.DS_Store
.vscode/*
!.vscode/settings.json
.idea
.claude

# logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# misc
.cache
coverage

# Vercel
.vercel
.env*.local
